In [1]:
import pandas as pd

In [ ]:
def scrape_table():
    url = 'https://galaxyfacts-mars.com/'

In [4]:
url = 'https://galaxyfacts-mars.com/'

In [5]:
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [38]:
# I cleaned up the table holding the data so that it would be as clean as possible going out to HTML.
df1 = tables[0]
df2 = tables[1]
df1 = df1.drop(2, axis=1)
df1 = df1.drop(0, axis=0)
df1 = df1.rename(columns={0: "titles", 1: "Data"})
df1

               titles             Data
1           Diameter:         6,779 km
2               Mass:  6.39 × 10^23 kg
3              Moons:                2
4  Distance from Sun:   227,943,824 km
5     Length of Year:   687 Earth days
6        Temperature:     -87 to -5 °C

In [40]:
df1.to_html('./mars_table.html',header=True, index=False)